*.iml
*.jks
*.pepk
.gradle
/local.properties
/.idea
/build
.DS_Store
/debug
/release
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/**/build/*
/captures
/local.properties
.externalNativeBuild
/app/release/app-release.aab
/app/release/output-metadata.json